td.comment-score{
  margin: 0px;
  width: 5px;
  text-align: right;
}

td.answer-score{
  width: 10px;
  margin: 0px;
}

.vote-count{
  font-weight: bold;
  font-size: 28px;
}

.date {
  color: grey;
}
